
@{
    ViewBag.Current = "TrioAboutUs";
    ViewBag.Title = "Trio About Us";
    Layout = "~/Views/Shared/_TrioLayout.cshtml";
}

<h2>TrioAboutUs</h2>
<div class="jumbotron">
    this is about us page .

</div>